# Ignore everything
*

# But do not ignore .gitignore itself
!.gitignore

# Do not ignore .py and .cpp files (in any folder)
!**/*.py
!**/*.cpp

!**/MITP_cpp_2_praktiskais/MITP_cpp_2_praktiskais/MITP_cpp_2_praktiskais.cpp